/prisma/migrations
/node_modules
/archived
/tests
/dist
/esm
/csv

results-unsorted-multi.json
results-stats-multi.json
backtest.db-journal
results-candles.json
results-orders.json
results-worths.json
results-multi.json
results-stats.json
candleName.json
backtest.db
candles.json
.DS_Store

/**/strategies/test*.ts
.env
.npm
.npmrc